/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: rgba(191,51,51,255);
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilos para las imágenes */
  img {
    max-width: 100px; /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
    display: block;
    margin: 0 auto; /* Centra las imágenes horizontalmente */
  }
  
  /* Estilos para el contenedor de la tabla */
  main {
    max-width: 800px; /* Ajusta el ancho máximo del contenido */
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .redes {
    margin-top: 10px;
  }
  
  .redes a {
    color: #fff;
    margin-right: 10px;
  }
  
  .redes a:hover {
    color: #ccc;
  }
  