.header {
    background-color: rgba(175, 0, 0, 0.8);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2rem;
}

.redes {
    position: absolute;
    right: 10%;
    display: flex;
    gap: 0px;
}

.redes i {
    font-size: 40px;
}

@media screen and (max-width:992px) {
    html {
        font-size: 13px;
    }
    .redes {
        position: relative;
        right: auto;
        display: flex;
        gap: 15px;
    }

    .redes i {
        font-size: 25px;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 11px;
    }

    .redes {
        position: relative;
        right: auto;
        display: flex;
        gap: 15px;
    }

    .redes i {
        font-size: 20px;
    }
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(191,51,51,255)  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-item {
    display: block;
    padding: 5px 10px;
  }