/* Estilos para las noticias */
.noticia {
    height: 300px;
}

.noticia img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.footer .navbar-brand img {
    height: 50px;
}

.redes a i {
    color: white;
}

/* Estilos para los patrocinadores */
.patrocinadores img {
    width: 80px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* Estilos para las noticias */
.noticia {
    height: 400px;
    background-color: #f8f9fa;
    border-radius: 10px;
    margin-bottom: 20px;
}

.noticia img {
    height: 100%;
    width: auto;
    
}
/* Estilos para el footer */

footer {
    padding: 50px 0;
    background-color: rgba(175, 0, 0, 0.8);
    color: #fff; /* Color del texto */
}

.footer a {
    color: #fff; /* Color de los enlaces */
}

.redes {
    margin-top: 20px;
}

.redes a {
    color: #fff;
    font-size: 24px; /* Tamaño de los iconos */
    margin-right: 10px; /* Espaciado entre los iconos */
}

